/* HOME VIEW */
/* --------------------------------- */
/* --------------------------------- */

/* GLOBAL */
/* --------------------------------- */
.containerHome{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
}

/* USER STOREFRONT */
/* --------------------------------- */
.usersStorefront{
    width: 65%;
    height: 100%;
    background: red;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; /* Revisar no se cumple */
    overflow-y: scroll;
}

.userCard{
    width: 300px;
    height: 200px;
    background: green;
    margin: 10px;
}

.userCard__img{
    width: 70px;
    height: 70px;
    background-color: black;
}
/* USER CONFIG */
/* --------------------------------- */
.userConfig{
    width: 35%;
    height: 100%;
    background: blue;
}

/* USER VIEW */
/* --------------------------------- */
/* --------------------------------- */

/* GLOBAL */
/* --------------------------------- */
.containerUser{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
}

/* USER DETAILS */
/* --------------------------------- */
.userDetails__img{
    width: 100px;
    height: 100px;
}