<div class="containerHome">
    <section class="usersStorefront">

        <div class="userCard" ng-repeat="user in homeCtrl.users track by user.id">
            <img class="userCard__img" ng-src="{{user.photo}}" alt="user image" onerror="this.src='http://revistacosas.mx/sites/all/themes/themag/assets/images/default-user.png'">
            <p class="userCard__name">Nombre: {{user.name}}</p>
            <p class="userCard__phone">Teléfono: {{user.phone}}</p>

            <a href="#!/user/{{user.id}}">More</a>
            <button ng-click="homeCtrl.loadUserToEdit(user)">Edit</button>
            <button ng-click="homeCtrl.deleteUser(user)">Delete</button>
        </div>
        
    </section>

    <aside class="userConfig">
        <div class="configNav">
            <h2>Nuevo Usuario</h2>
            <button>Datos</button>
            <button>Gifs</button>
        </div>

        <form class="userForm" name="mainForm" ng-model="mainForm" novalidate>

            <p>Nombre: </p>
            <input class="userForm__input" type="text" placeholder="Name..." ng-model="homeCtrl.newUser.name">

            <p>Email: </p>
            <input class="userForm__input" type="text" placeholder="Email..." ng-model="homeCtrl.newUser.email">

            <p>Teléfono: </p>
            <input class="userForm__input" type="text" placeholder="Phone..." ng-model="homeCtrl.newUser.phone">

            <p>Foto: </p>
            <input class="userForm__input" type="text" placeholder="Url Photo..." ng-model="homeCtrl.newUser.photo">

            <button ng-if="!homeCtrl.isEditProcess" ng-click="homeCtrl.addUser()">Añadir Usuario</button>
            <button ng-if="homeCtrl.isEditProcess" ng-click="homeCtrl.editUser()">Modificar</button>

        </form>

        <div class="userConfigGifs">
            <h2>Gifs Favoritos</h2>
            <div class="favUserGifs"></div>

            <div class="searchGifs">
                <input class="searchGifs__input" type="text">
                <span>Épicos</span> | <span>Recientes</span>
                <button>Buscar</button>
            </div>

            <div class="gifsStorefront"></div>
        </div>
    </aside>
</div>